@import "navigation";
@import "fonts";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

html,
body {
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
}
//
//
//
// ---------------------
//  the home and scroll
// ---------------------
.home {
  background-color: rgb(10, 10, 10);

  // -----------
  position: fixed;
  // before it was : position fixed
  // position: sticky;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  // -----------
  // -------------------------
  // ALL what is inside scroll
  //   -----------------------

  .scroll {
    padding: 0vh 0 0 0;
    background-color: #ff0000;

    // background-color: #cc4a27;
  }

  .home-content {
    height: auto;

    .home-content-top {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #d8864f;
      p {
        color: #ebebeb;
        font-size: 0.75rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        // the font family is inside the body, here you make it slightly fatter
        font-weight: 500;
      }
      h5 {
        color: #ebebeb;
        width: 60%;
        margin-top: 260px;
        font-size: 2em;
        line-height: 35px;
        font-weight: 600;
        // padding-right: 360px;
      }
    }
    //
    // -------

    .home-content-middle {
      width: 100vw;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(195, 204, 226);
      p {
        color: #ebebeb;
        font-size: 0.75rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        // the font family is inside the body, here you make it slightly fatter
        font-weight: 500;
      }
      h5 {
        color: #ebebeb;
        width: 60%;
        margin-top: 260px;
        font-size: 2em;
        line-height: 35px;
        font-weight: 600;
        // padding-right: 360px;
      }
    }
    //
    // -------
    .home-content-middle:nth-child(3) {
      background-color: seagreen;
    }
  }
  //
  //
  // --------------
  //
  // -------------
  //
  // .home-content {

  .routes-content {
    width: 100vw;
    height: 100vh;
    //
    overflow: hidden;

    .routes-content-top {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #b2ddc0;
      p {
        color: #ebebeb;
        font-size: 0.75rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        // the font family is inside the body, here you make it slightly fatter
        font-weight: 500;
      }
      h5 {
        color: #ebebeb;
        width: 60%;
        margin-top: 260px;
        font-size: 2em;
        line-height: 35px;
        font-weight: 600;
        // padding-right: 360px;
      }
    }
    //
    // -------
  }
}
